<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
</head>

<body>
	<h1>ホーム画面</h1>

	<!-- ログインユーザー名の表示 -->
	<p>ようこそ、<span th:text="${displayName}"></span>さん！</p>

	<!-- ロール権限の表示 -->
	<div sec:authorize="hasRole('ADMIN')">
		管理者権限でログインしました。
	</div>

	<!-- 水平に線を入れる -->
	<hr>

	<!-- メニューリンク -->
	<ul>
		<li><a th:href="@{/attendance/clock}">勤怠打刻</a></li>
		<li><a th:href="@{/monthlyAttendance/monthlyAttendance}">月次勤怠確認</a></li>
		<li><a th:href="@{/apply/list}">申請状況確認</a></li>
		<li><a th:href="@{/mypage/mypage}">マイページ</a></li>
		

		<div sec:authorize="hasRole('ADMIN')">
			<h4>管理者専用機能</h4>
			<li><a th:href="@{/user/list}">ユーザー一覧</a></li>
			<li><a th:href="@{/data/attendancelist}">勤怠データ閲覧</a></li>
			<li><a th:href="@{/approval/list}">承認待ち一覧</a></li>
		</div>
	</ul>
	<hr>

	<!-- ログアウト -->
	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
</body>

</html>