<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>

	<form th:action="@{/login}" method="post">
		<div>
			<label>社員番号　：
				<input type="text" name="username" />
			</label>
		</div>
		<div>
			<label>パスワード：
				<input type="password" name="password" />
			</label>
		</div>
		<button type="submit">ログインする</button>
		
		<div>
			<a th:href="@{/register}">ユーザー登録はこちら</a>
		</div>
	</form>
	
	<div th:if="${param.error}">
		<p style="color: red;">社員番号またはパスワードが間違っています</p>
	</div>
	<div th:if="${param.logout}">
		<p style="color: green;">ログアウトしました</p>
	</div>
	
</body>
</html>
